.gridList{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

@media screen and (max-width: 900px) {
  .gridList{
    grid-template-columns: 1fr 1fr 1fr;
  }
  
}

@media screen and (max-width: 600px) {
  .gridList{
    grid-template-columns: 1fr 1fr;
  }
  
}
.App{
  text-align: center;
}
