.gridList{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

@media screen and (max-width: 900px) {
  .gridList{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .navHeading{
    display: none;
  }
  
}

@media screen and (max-width: 600px) {
  .gridList{
    grid-template-columns: 1fr 1fr;
  }
  .brand-logo{
    text-align: left;
    left: 20%;
  }
  
}
.App{
  text-align: center;
}
